# La salud financiera de los Estados Unidos

En este proyecto, importaremos varios tipos de datos financieros para tratar de determinar la salud financiera y la volatilidad de los EE.UU. entre 1999 y 2019.

Utilizaremos las técnicas que hemos aprendido para importar datos financieros, para importar datos de las acciones y precios de productos básicos (commodities) desde archivos csv y la API del FRED. Luego tomaremos los datos del PIB y la exportación de bienes y servicios de la API del Banco Mundial.

Finalmente, encontraremos los registros de los datos importados, y los usaremos para determinar la volatilidad de los datos durante el período de 20 años.

Comencemos!

## Importando los precios de los productos básicos

1. Importe pandas primero

In [1]:
import pandas as pd

2. Ahora que pandas estan importado, use su función `read_csv` para importar datos del archivo gold_prices.csv en una variable llamada gold_prices.

Luego imprime el DataFrame de los precios del oro y míralo.

In [6]:
gold_prices = pd.read_csv('./datasets/gold_prices.csv')
gold_prices

            Date  Gold_Price
0     2019-08-30     1528.40
1     2019-08-29     1540.20
2     2019-08-28     1537.15
3     2019-08-27     1532.95
4     2019-08-26     1503.80
...          ...         ...
5386  1999-01-07      289.95
5387  1999-01-06      287.65
5388  1999-01-05      287.15
5389  1999-01-04      287.15
5390  1999-01-01      287.80

[5391 rows x 2 columns]

3. Ahora hagamos lo mismo con los datos del petróleo crudo.

Importar los datos históricos en crude_oil_prices.csv en una variable llamada `crude_oil_prices`.

Luego imprímelos y míralos también.

In [7]:
crude_oil_prices = pd.read_csv('./datasets/crude_oil_prices.csv')
crude_oil_prices

              Date  Crude_Oil_Price
0     Sep 11, 2018            69.25
1     Sep 10, 2018            67.54
2     Sep 07, 2018            67.75
3     Sep 06, 2018            67.77
4     Sep 05, 2018            68.72
...            ...              ...
4995  Jan 08, 1999            13.07
4996  Jan 07, 1999            13.09
4997  Jan 06, 1999            12.80
4998  Jan 05, 1999            11.99
4999  Jan 04, 1999            12.34

[5000 rows x 2 columns]

## Importando los precios de las acciones

4. Hemos importado los precios de los productos básicos de sus archivos csv, ahora nos centraremos en los precios históricos de las acciones.

El lector de datos de Pandas es capaz de importar datos de precios de acciones desde la API de FRED usando la biblioteca `pandas_datareader.data`.

Importe `pandas_datareader.data as web`.

In [ ]:
import pandas_datareader.data as web

5. ¿Como sólo queremos datos entre 1999 y 2019, también queremos crear algunas variables de inicio y final.

Importar el módulo de fecha-hora y crear dos fechas-horas, inicio y final, que representan el 1 de enero de 1999 y 2019 respectivamente.

In [ ]:
from datetime import datetime

In [ ]:
inicio = datetime(1999, 1, 1)
inicio

In [ ]:
final = datetime(2019, 1, 1)
final

6. Podemos usar la función `web.DataReader` para obtener los precios históricos del NASDAQ 100 del FRED API.

El web.DataReader toma 4 argumentos:

- Código de identificación de datos (NASDAQ100)
- El nombre de la API que queremos llamar (fred)
- Horas de la fecha de inicio y fin
- Llama al web.DataReader con los argumentos apropiados, y almacena el DataFrame resultante en una variable llamada `nasdaq_data`. Luego imprímelo y mira los resultados.

In [17]:
nasdaq_data = web.DataReader('NASDAQ100', 'fred', inicio, final)
nasdaq_data

            NASDAQ100
DATE
1999-01-01        NaN
1999-01-04   1854.390
1999-01-05   1903.000
1999-01-06   1963.950
1999-01-07   1966.350
...               ...
2018-12-26   6262.766
2018-12-27   6288.301
2018-12-28   6285.266
2018-12-31   6329.965
2019-01-01        NaN

[5218 rows x 1 columns]

7. El API del FRED también almacena datos del Índice S&P 500. Vamos a importar eso también.

Llama al web.DataReader como en el paso anterior, excepto que cambia el código de identificación de datos de NASDAQ100 a SP500.

Almacena los resultados en una variable llamada sap_data e imprímela.

In [24]:
llamada sap_data = web.DataReader('S&P500', 'fred', inicio, final)
llamada sap_data

SyntaxError: invalid syntax (<ipython-input-24-f0670ce9f3f7>, line 1)

## Importando datos del Banco Mundial

8. Además de los precios de las acciones y los productos básicos, también queremos importar más datos económicos de alto nivel como el PIB y el valor total de los bienes y servicios exportados en un año determinado.

Afortunadamente para nosotros, la API del Banco Mundial sigue exactamente estas cosas.

Importemos el sub-módulo del Banco Mundial de datos de pandas.

Importar `pandas_datareader.wb as wb`.

In [26]:
import pandas_datareader.wb as wb

9. Podemos usar la función wb.download para obtener los datos del PIB del API del Banco Mundial.

wb.download toma 4 argumentos:

Un indicador de datos (NY.GDP.MKTP.CD)
Una lista de países para obtener datos de
Horas de inicio y fin de la cita

Una llamada se vería como algo así:

`wb.download(indicator='INDICATOR', country=['US'], start=start, end=end)`

Llama a `wb.download` con los argumentos apropiados, y almacena el DataFrame resultante en una variable llamada gdp_data.

In [28]:
indicator = 'NY.GDP.MKTP.CD'

In [29]:
gdp_data = wb.download(indicator=indicator, country=['US'], start=inicio, end=final)

In [30]:
gdp_data

                    NY.GDP.MKTP.CD
country       year
United States 2019    2.137442e+13
              2018    2.052905e+13
              2017    1.948539e+13
              2016    1.870719e+13
              2015    1.821930e+13
              2014    1.752175e+13
              2013    1.678485e+13
              2012    1.619701e+13
              2011    1.554258e+13
              2010    1.499205e+13
              2009    1.444893e+13
              2008    1.471284e+13
              2007    1.445186e+13
              2006    1.381461e+13
              2005    1.303664e+13
              2004    1.221373e+13
              2003    1.145824e+13
              2002    1.093642e+13
              2001    1.058182e+13
              2000    1.025235e+13
              1999    9.630664e+12

10. La API del Banco Mundial también almacena datos sobre el valor de los bienes y servicios exportados en un año determinado. Importemos eso también.

Llama a wb.download como en el paso anterior, excepto que cambia el indicador de NY.GDP.MKTP.CD a NE.EXP.GNFS.CN.

Almacena los resultados en una variable llamada export_data e imprímela.

In [32]:
indicator2 = 'NE.EXP.GNFS.CN'

In [35]:
export_data = wb.download(indicator=indicator2, country=['US'], start=inicio, end=final)
export_data

                    NE.EXP.GNFS.CN
country       year
United States 2019   2504293000000
              2018   2510250000000
              2017   2356726000000
              2016   2220609000000
              2015   2266800000000
              2014   2371704000000
              2013   2273428000000
              2012   2191280000000
              2011   2102995000000
              2010   1846280000000
              2009   1581996000000
              2008   1837055000000
              2007   1660853000000
              2006   1472613000000
              2005   1305225000000
              2004   1177631000000
              2003   1036177000000
              2002    998741000000
              2001   1024636000000
              2000   1096255000000
              1999    992778000000

## Calculando el retorno Logarítmico

El retorno Logarítmico es uno de los tres métodos para calcular el retorno y asume que los retornos se componen continuamente en lugar de a través de subperíodos. Se calcula tomando el logaritmo natural del valor final dividido por el valor inicial. 

Como ejemplo, digamos que el valor final de una inversión fue de 11 dólares y el valor inicial fue de 10 dólares. La función diría =LN(11/10) para un resultado de 9,53%.

En matemáticas y estadística, a menudo se hace una distinción entre datos discretos y continuos. El retorno del registro es la versión continua más teórica. En el mundo práctico, sin embargo, la mayoría de la gente piensa en retornos divididos en períodos discretos.

- Retorno aritmético - Un período, no compuesto, discreto.
- Retorno geométrico - Multi-período, compuesto, discreto.
- Retorno logarítmico: períodos infinitos, compuestos, continuos.

Así que el retorno logarítmico es la versión no discreta, tan continua, lo que significa que si todo el período se dividiera en un número infinito de períodos, ¿cuál sería ese retorno? Verás, es teórico.

Salvo para períodos de tiempo muy cortos (menos de un día), y para aplicaciones teóricas que impliquen cálculo y medición precisa de curvas, los retornos logarítmicos no se utilizan comúnmente.

11. En este momento, hemos importado todos los datos que necesitamos. Pero todos están almacenados como cantidades diarias o anuales de dólares.

Los datos de precios son útiles, pero en este caso, ya que queremos comparar cada conjunto de datos, sería aún mejor si en lugar de los precios diarios/anuales, tuviéramos información sobre los retornos de los precios diarios/anuales.

Como primer paso, definamos una función llamada `log_return`, que debería aceptar un parámetro, los precios. Puede dejar el cuerpo de la función vacío por ahora.

In [41]:
import numpy as np

In [40]:
log_retun = lambda price : a + 10

SyntaxError: unexpected EOF while parsing (<ipython-input-40-4b24e564880a>, line 2)

In [46]:
gold_prices['log'] = np.log(gold_prices['Gold_Price'] / gold_prices['Gold_Price'].shift(1))
gold_prices

            Date  Gold_Price       log
0     2019-08-30     1528.40       NaN
1     2019-08-29     1540.20  0.007691
2     2019-08-28     1537.15 -0.001982
3     2019-08-27     1532.95 -0.002736
4     2019-08-26     1503.80 -0.019199
...          ...         ...       ...
5386  1999-01-07      289.95 -0.003271
5387  1999-01-06      287.65 -0.007964
5388  1999-01-05      287.15 -0.001740
5389  1999-01-04      287.15  0.000000
5390  1999-01-01      287.80  0.002261

[5391 rows x 3 columns]

12. La ecuación para calcular el retorno logarítmico entre dos precios es la siguiente:

`natural_log(precio actual/precio anterior)`

En nuestro caso queremos ejecutar esta ecuación para cada día/año de datos de precios en nuestra serie importada de DataFrame (la serie A es una sola columna en un DataFrame).

La función de desplazamiento de pandas (`sifth()`) puede utilizarse para dividir cada precio actual por su precio anterior en la Serie.

`prices / prices.shift(1)`

Y podemos usar la función de logaritmo natural de Numpy para obtener el retorno de logaritmo para cada entrada en la nueva Serie.

```
import numpy as np
np.log(Series)
```

Utilizando esta información, rellene el código de la función `log_return` (asegúrese de importar numpy en la parte superior de la celda).

In [ ]:
!pip3 install requests

13. Usemos nuestra nueva función `log_return` para calcular el retorno logarítmico del DataFrame de precios del oro que hemos importado.

Crear una variable llamada `gold_returns`, que almacena el resultado de llamar a l`og_return` en la columna `Gold_Price` del DataFrame de `gold_prices`.

14. Ahora crea variables de retorno de logaritmo para cada conjunto de datos adicionales (`crudeoil_returns`, `sap_returns`, etc.).

Recuerde que sólo tiene que pasar en la columna del DataFrame que contiene los datos de precios. En el caso del oro era `gold_prices['Precio_del_oro']`, pero el nombre de la columna variará para cada conjunto de datos.

## Comparación de la volatilidad de retorno

15. Ahora estamos listos para comparar la volatilidad de cada tipo de datos.

La varianza, en el contexto de los datos financieros, nos dice cuán volátil es una inversión. Utiliza la función var() de Pandas para calcular la varianza de los rendimientos de las materias primas, las acciones y los datos del Banco Mundial, e imprime los resultados.

Los resultados pueden interpretarse de varias maneras, pero en general, cuanto mayor sea la varianza, más volátiles serán los datos.

¿Qué conclusiones se pueden sacar de estos datos? ¿Qué conjunto de datos fue el más volátil? ¿Algunos conjuntos de datos tenían varianzas similares?

sap seria: sap: 8.860342194008153e-05 which is equivalent to 0.00008860342194008153

El S&P 500, un conjunto de 500 grandes empresas que cotizan en las bolsas de los Estados Unidos, tiene la menor variación, y por lo tanto es el menos volátil. Dado que el índice S&P 500 es una medida ponderada de muchas acciones en una variedad de industrias, se considera una inversión más segura y diversificada.

El oro, notorio por ser una inversión estable, tiene la segunda varianza más pequeña.

El petróleo crudo es el más volátil, lo que tiene sentido ya que los precios del gas son a menudo impredecibles, especialmente en los últimos 20 años.

Las acciones son interesantes. El NASDAQ 100 es más volátil que el S&P 500, lo que, cuando se piensa en ello tiene sentido, ya que el S&P 500 está mucho más diversificado y sigue más de cerca el mercado.

Entonces finalmente tenemos el PIB y las exportaciones.

Las exportaciones son muy volátiles, lo que podría tener que ver con las industrias que se han trasladado al extranjero en los últimos 20 años, y la competencia mundial por la producción de bienes.

El PIB es en realidad bastante similar al NASDAQ 100 en términos de volatilidad, lo que quizás sea una correlación interesante.